/*
 * Specific styles of signin component
 */
/*
 * General styles
 */

html body  {
	
   font-family: 'Open Sans', sans-serif;
   background-color:#f3f3f4;

}

.card-container.card {
    max-width: 375px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    width:20%;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
   margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-img-derecha {
    width: 96px;
    height: 96px;
     display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-titulo-cabecera {
    font-size: 16px;
    font-weight: bold;
    color:white;
    text-align: left;
    margin: 10px 0 0;
    min-height: 1em;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}



.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#e9e9e9e;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}



.tit {
    font-size: 24px;
    font-family: 'Open Sans';
	font-weight:700;
    color: #0B6BFE;
    text-align: center;
    padding-bottom: 0px;
}
.sub-tit {
    font-size: 22px;
    font-family: 'Open Sans';
	font-weight:700;
    color: #0B6BFE;
}

.btn.btn-signin {
   background-color: #0B6BFE;
    
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-size: 14px;
    font-weight:600;
    font-family: 'Open Sans';
    height: 36px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    border: none;
    width: 50px;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #0B6BFE;
   
}

.forgot-password {
    color: rgb(104, 145, 162);
}
.ftxt {
     background-color: #e9e9e9;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color:  #0B6BFE;
}